<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ändra pizza</title>
  <link rel="stylesheet" type="text/css" href="/style.css?<%= Time.now.to_i %>">
</head>
<body>
  <h1><a href="/">Alexandars pizzeria</a></h1>
  <h2>Ändra pizza</h2>

  <form action="/pizza/<%= @pizza["id"] %>" method="post">
    <input type="text" name="pizza_name" value="<%= @pizza["name"] %>" required>
    <input type="number" name="pizza_price" value="<%= @pizza["price"] %>" required>
    <button type="submit">Spara ändringar</button>
  </form>
</body>
</html>